body {
  color: var(--dark-gray);
  background: var(--white);
  font-family: Interstate, Helvetica, sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  margin-block-start: 0;
  margin-block-end: 0;
}

p,
body,
a {
  color: var(--dark-gray);
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: Interstate;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

@media (min-width: 786px) {
  p,
  body,
  a {
    font-size: 1.125rem;
    line-height: 1.74375rem;
  }
}

/* links */
a {
  color: var(--black);
  text-decoration: underline;
  transition: all 0.5s;
}

a:hover,
a:focus {
  color: var(--maryland-red);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: var(--black);
  text-decoration: none;
  background-image: linear-gradient(var(--black), var(--black));
  background-position: left bottom;
  background-repeat: no-repeat;
  transition: background 0.5s;
  background-size: 0 2px;
}

h1 a:hover,
h1 a:focus,
h2 a:hover,
h2 a:focus,
h3 a:hover,
h3 a:focus,
h4 a:hover,
h4 a:focus,
h5 a:hover,
h5 a:focus,
h6 a:hover,
h6 a:focus {
  color: var(--black);
  background-size: 100% 2px;
}

h1 {
  font-family: Interstate;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.08rem;
}

h2 {
  font-family: Interstate;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6875rem;
}

h3 {
  font-family: Interstate;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.71875rem;
}

h4 {
  font-family: Interstate;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
    line-height: 3.12rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  h4 {
    font-size: 1.125rem;
    line-height: 1.74375rem;
  }
}

em {
  font-style: italic !important;
}

strong {
  font-weight: 700 !important;
}

/* wysiwyg editor */
.wysiwyg-editor {
  color: var(--dark-gray);
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: Interstate;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  text-align: start;
}

.wysiwyg-editor > * {
  margin-bottom: var(--space-sm);
}

.wysiwyg-editor > *:first-child {
  margin-top: 0;
}

.wysiwyg-editor > *:last-child {
  margin-bottom: 0;
}

.wysiwyg-editor strong {
  font-weight: 700;
}

.wysiwyg-editor ul {
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
}

.wysiwyg-editor ul li {
  margin-bottom: var(--space-xs);
  position: relative;
  counter-increment: item;
}

.wysiwyg-editor ol {
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
  counter-reset: item;
}

.wysiwyg-editor ol > li {
  margin-bottom: var(--space-xs);
  position: relative;
  counter-increment: item;
}

.wysiwyg-editor li {
  font-size: 1rem;
  line-height: 1.375rem;
}

.wysiwyg-editor li:last-child {
  margin-bottom: 0;
}

.wysiwyg-editor [style] {
  all: revert !important;
}

@media (min-width: 768px) {
  .wysiwyg-editor > * {
    margin-bottom: var(--space-md);
  }

  .wysiwyg-editor ul li {
    margin-bottom: var(--space-sm);
  }

  .wysiwyg-editor ul li:before {
    right: calc(100% - var(--space-md));
  }

  .wysiwyg-editor ol li {
    margin-bottom: var(--space-sm);
  }

  .wysiwyg-editor ol li:before {
    min-width: var(--space-md);
  }

  .wysiwyg-editor li {
    font-size: 1.125rem;
    line-height: 1.74375rem;
  }
}
